/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

/* Reset */
body {
  font-family: "Source Serif Pro", serif; /* Set base font family */
  line-height: 1.6;
  overflow-x: hidden;
  background-image: url("img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  margin: 0 auto;
}
/* h1 and h2 Styling */
h1 {
  font-family: "Caveat", cursive;
}
h2 {
  font-family: "Caveat", cursive;
  font-size: 32px;
  text-align: center;
}
p,
nav,
ul {
  /* margin: 0;
  padding: 0; */
}
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.show-button {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.show-button:active {
  background-color: black;
}

/* Menu Bar */
.menu-bar {
  position: fixed;
  overflow: visible;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out; /* Add height transition */
}
.menu-bar button {
  border: none;
  width: 24vw;
  padding: 1rem 0;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  justify-content: center;
}
.menu-bar button:hover {
  background-color: black;
  color: white;
}
.menu-bar button:active {
  background-color: white;
  color: black;
}
.menu-bar.visible {
  height: auto;
  opacity: 1;
  pointer-events: all;
}
.menu-bar-ul {
  margin: 0;
  padding: 0;
}

/* Top Section */
.top-section {
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
  gap: 200px;
}
.icon-name-group {
  display: flex; /* フレックスボックスを適用 */
  width: 100vw;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  gap: 5vw; /* アイコンと名前の間にスペースを追加 */
}
.icon {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  object-fit: cover;
}
.name {
  font-size: 80px;
  writing-mode: vertical-rl;
  margin: 0px;
  letter-spacing: 10px;
  line-height: 1;
}

.button-group {
  display: flex; /* 横並びにする */
  justify-content: center;
  gap: 50px; /* ボタン間の余白 */
}

/* Content Sections */
section {
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 2rem;
  max-width: 90vw;
}

td {
  text-align: left;
  border: 1px solid black;
  padding: 5px;
}

.td-center {
  text-align: center;
}

.td-gyoumu {
  width: 110px;
}

th {
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}

ol {
  padding: 1rem;
}

li {
  text-align: left;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
